<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
<!-- 	<bean id="beana" class="com.taobao.yinggang.spring.BeanA" init-method="init"> -->
<!-- 		<property name="beanb" ref="beanb" /> -->
<!-- 	</bean> -->
    <bean id="beanb" class="com.taobao.yinggang.spring.BeanB" init-method="init" />
</beans>